
body{
    width: 90%;
    max-width: 1200px;
    margin: 10px auto 50px auto;
}

/*================================Header===================================*/
.header-humburger-icon > a{
    display: none;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(#FF6B00, #813E0E);
    padding: 10px 0;
    overflow: hidden;
}

header h2{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-style: italic;
    margin: 0 0 0 20px;
}

header button{
    background-color: rgb(110, 110, 110);
    border: none;
    width: 100px;
    font-family: 'Comic Neue', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 5px;
}
.header-buttons-container{
    margin-right: 20px;
    margin-left: auto;
}
.header-mobile-navigation button{
     width: 100%;
     font-family: 'Comic Neue', sans-serif;
     font-weight: bold;
     font-size: 1.1em;
     border-radius: 5px;
     border: none;
     background-color: rgb(110, 110, 110);
}

.header-mobile-navigation a{
    width: 80%;
}

.header-mobile-navigation{
    width: 100%;
    background-color: #FF6B00;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.header-mobile-navigation button:hover, .header-buttons-container button:hover{
    background-color: rgb(52, 52, 52);
}

@media  screen and (max-width: 700px) {
    .header-buttons-container{
        display:none;
    }
    .header-humburger-icon > a{
        display: block;
        color: black;
    }
    .header-humburger-icon{
        margin-right: 20px;
        margin-left: auto;
    }
    header h2{
        font-size: 5vw;
    }
}
/*--------------------------------Header------------------------------------*/

/*=============================About Layout=================================*/
main{
    margin-top: 30px;
    width: 100%;
}

.about-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}
.about-content-text{
    display: flex;
    justify-content: center;
    height:100%;
    flex-direction: column;
}
.about-content-text h1{
    justify-self: start;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: italic;
    text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
}
.about-content-text p{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: italic;
}
.about-content-images{
    display: grid;
    gap: 30px;
}
.about-content-images img{
    width: 100%;
}
.about-content-images img:nth-child(n + 3):nth-child(-n + 5){
    display: none;
}

@media screen and (max-width: 1027px) and (min-width: 401px){
    .about-content-images img:nth-child(n):nth-child(-n + 3){
        display: block;
    }
}

@media screen and (max-width: 400px){
    .about-content-images img:nth-child(n + 4):nth-child(-n + 5){
        display: block;
    }
}
/*-----------------------------About Layout---------------------------------*/

/*-----------------------------Contact Layout-------------------------------*/


.contact-content-container
{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    align-content: space-between;

    height: 95vh;
    
    

}


.contact-content-container-split
{
    display: flex;
    

    height: 100%;
    width: 45%;
    


    flex-direction: column;
    align-items: flex-start;

    
    
}


.contact-top-contact-box
{
    width: 100%;
    
    text-align: center;
    margin-top: 1vw;

    font-family: 'Inter', sans-serif;
    font-style: italic;
    text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
    font-size: 2.2em;
    font-weight: 900;
}

.contact-content-section
{
   
    font-family: 'Inter', sans-serif;
    font-style: italic;
    text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
    display: inline-block;
    width: 100%
    
}

.contact-content-section-left{text-align: left;}

.contact-content-section-right{text-align: right;}

.contact-content-section-bottom
{

    align-self: flex-end;
    margin-top: auto;
    
    
    height: 35%;
    width: 100%;
}

.contact-content-section-bottom > * 
{

    width: 100%;
    height: 100%;
}



.contact-flex-break{flex-basis: 100%; height: 0; margin: 0; border: 0; }

.contact-content-header-text
{
    font-size: 2em;
    font-weight:800;
}

.contact-content-medium-text
{
    font-size: 1.2em;
    font-weight:600;
    
}

.contact-content-small-text
{
    
    width: 300px;
    height: 75px;
    font-size: 1em;
    font-weight:600;
    
    
    
    
}

.contact-map
{
    
    width: 100%;
    height: 100%;
}

.contact-img
{

    width: 100%;
    height: 100%;
}

/*-----------------------------Contact Layout-------------------------------*/

/*-----------------------------Index Layout-------------------------------*/

        body {
            
           
        }

        header {
            text-align: center;
            padding: 20px;
            background-color: #f0f0f0;
        }

        header h2 {
            margin: 0;
        }


        main {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
        }

        .bigdog-image img {
            max-width: 60%;
            height: auto;
        }

        .bigdog-image {
            flex: 1 0 70%; 
            margin-bottom: 20px;
            border-radius: 25px;
            overflow: hidden;
        }
        
        @media screen and (max-width: 768px) {
            .dog-image {
                flex: 1 0 100%;
            }
        }
/*-----------------------------Index Layout-------------------------------*/









@media screen and (max-width: 600px) 
{
    *
    {
        text-align: left;
    }



    .contact-content-container
    {
        display: block;
        width: 95vw;
    }
    .contact-content-container-split
    {

        width: 100%;
    }
}

