
body{
    width: 90%;
    max-width: 1200px;
    margin: 10px auto 50px auto;
}

/*================================Header===================================*/
.header-humburger-icon > a{
    display: none;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(#FF6B00, #813E0E);
    padding: 10px 0;
    overflow: hidden;
}

header h2{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-style: italic;
    margin: 0 0 0 20px;
}

header button{
    background-color: rgb(110, 110, 110);
    border: none;
    width: 100px;
    font-family: 'Comic Neue', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 5px;
}
.header-buttons-container{
    margin-right: 20px;
    margin-left: auto;
}
.header-mobile-navigation button{
     width: 100%;
     font-family: 'Comic Neue', sans-serif;
     font-weight: bold;
     font-size: 1.1em;
     border-radius: 5px;
     border: none;
     background-color: rgb(110, 110, 110);
}

.header-mobile-navigation a{
    width: 80%;
}

.header-mobile-navigation{
    width: 100%;
    background-color: #FF6B00;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.header-mobile-navigation button:hover, .header-buttons-container button:hover{
    background-color: rgb(52, 52, 52);
}

@media  screen and (max-width: 700px) {
    .header-buttons-container{
        display:none;
    }
    .header-humburger-icon > a{
        display: block;
        color: black;
    }
    .header-humburger-icon{
        margin-right: 20px;
        margin-left: auto;
    }
    header h2{
        font-size: 5vw;
    }
}
/*--------------------------------Header------------------------------------*/

/*=============================About Layout=================================*/
main{
    margin-top: 30px;
    width: 100%;
}

.about-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}
.about-content-text{
    display: flex;
    justify-content: center;
    height:100%;
    flex-direction: column;
}
.about-content-text h1{
    justify-self: start;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: italic;
    text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
}
.about-content-text p{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: italic;
}
.about-content-images{
    display: grid;
    gap: 30px;
}
.about-content-images img{
    width: 100%;
}
.about-content-images img:nth-child(n + 3):nth-child(-n + 5){
    display: none;
}

@media screen and (max-width: 1027px) and (min-width: 401px){
    .about-content-images img:nth-child(n):nth-child(-n + 3){
        display: block;
    }
}

@media screen and (max-width: 400px){
    .about-content-images img:nth-child(n + 4):nth-child(-n + 5){
        display: block;
    }
}
/*-----------------------------About Layout---------------------------------*/

